<footer>
    <div class='footer'>
        <div></div>
        <div class='footer-text'>
            <pre>본 사이트는 서울과기대의 투표를 장려하고,
학생들의 선거 정보 열람에 대한 불편함을
개선하기 위한 비영리 프로젝트입니다.
<br>위 내용은 각 SNS에 공개된 자료를 이용하였으며,
당사자들의 요청에 의해 수정이 가능합니다.

후보자에 대한 정확한 정보는 각 SNS를 통해 직접 확인하시기 바라며,
해당 서비스는 선거 유세가 아닌 비공식 언론 행위로 정의됩니다.

univvote.dev@gmail.com</pre>
        </div>
        <div class='footer-license'>
            <span>아이콘 제작자</span>
            <a href="http://www.freepik.com/" title="Freepik" >Freepik</a>
            <span>from</span>
            <a href="https://www.flaticon.com/kr/" title="Flaticon" >www.flaticon.com</a> 
        </div>
    </div>
</footer>