<!DOCTYPE html>
<html>
<head>
    <title>UNIVVOTE</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes ">
    <link rel="shortcut icon" href="image/favicon9.ico">
    <link rel="icon" href="image/favicon9.ico">
    <link href="http://fonts.googleapis.com/css?family=Jua&family=Noto+Sans+KR:wght@100&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="main.css" />
    <link rel="stylesheet" href="select.css" />
    <script type="text/javascript" src="https://cdn.amcharts.com/lib/4/core.js"></script>
    <script type="text/javascript" src="https://cdn.amcharts.com/lib/4/charts.js"></script>
    <script type="text/javascript" src="https://cdn.amcharts.com/lib/4/themes/dark.js"></script>
    <script type="text/javascript" src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
</head>
<body class='whole-wrap'>
    {% include 'loginModal.html' %}
    {% include 'urlModal.html' %}
    {% include 'voteModal.html' %}
    {% include 'writeModal.html' %}
    <!-- page 본문 영역 -->
    {% include 'header.html'%}
    <section>
        <div class='section-01'>
            <div class='section-title'>
                <p>서울과학기술대학교</p>
                <p>- 총학생회장 선거 투표 약속 프로젝트 -</p>
            </div>
            <div class='section-img-01'>
                <img class='vote-image' src='image/university3.png' alt='mainVote'/>
                <div class='vote-content font-jua'>
                    <p class='vote-title'>실시간 투표 약속</p>
                    <div class='vote-center'>
                        <span id='percentData' class='vote-percent'>00.0</span>
                        <span class='vote-percent' >%</span><br>
                        <span id='countData'  class='vote-count'>0 </span>
                        <span id='studentData' class='student-count'>/ 11,432</span>
                    </div>
                    <div class='vote-left'>
                        <p class='candidate-number '>기호 1번</p>
                        <p class='candidate-name ' >김미리</p>
                        <p class='candidate-major '>산업정보시스템전공</p>
                    </div>
                    <div class='vote-right'>
                        <p class='candidate-number '>기호 2번</p>
                        <p class='candidate-name '>김지민</p>
                        <p class='candidate-major '>기계시스템디자인전공</p>
                    </div>
                </div>
            </div>
            <div class='section-btn-01'>
                <button id='voteBtn' class='btn-css' value='VOTE'>투표 약속하기</button>
                <!-- <p><a id='realVoteLink' href='http://www.seoultech.ac.kr/'>실제 투표하러 가기</a></p> -->
            </div>
        </div>
    </section>
    <section>
        <div class='section'>
            <div class='section-title'>
                <p>학과별 투표 약속 TOP10</p>
            </div>
            <!-- <div class='reload-box'><img id='reloadIcon' src='image/reload.png' alt='reload'/></div> -->
            <div id="chartdiv"></div>
            
        </div>
    </section>
    <section>
        <div class='section'>
            <div class='section-title'>
                <p>서울과기대 공약 정보</p>
            </div>
        </div>
        {% include 'pledgeLayout.html'%}
    </section>
    <section>
        <div class='section'>
            <div class='section-title'>
                <p>응원의 메시지</p>
            </div>
            <div class='crud-box' id='writingList'>
                {% for comment in comments %}
                <div class="crud-content">
                    <div class='content-user'>
                        <span>{{comment.id}}번째 메시지  | </span>
                        <span>{{comment.created_at.toLocaleDateString()}}</span>
                    </div>
                    <div>
                        <p class='content-text'>{{comment.comment}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class='crud-btn-box'>
                <button id='writeBtn' class='btn-css' value='message'>작성하기</button>
            </div>
        </div>
    </section>
    {% include "footer.html" %}
    
    <script type="text/javascript" src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src='select.js'></script>
    <script type="text/javascript" src="amcharts.js" ></script>
    <script type="text/javascript" src="/main.js" ></script>
    <script type='text/javascript' src='/pledge.js'></script>
</body>
</html>