<div id = 'loginModal'>
    <div class='modal-background'></div>
    <div class='modal-box modal-box-login'>
        <div class='modal-header'>
            <div class='back-btn-box'> <img class='back-btn' src='image/back.png' alt='backBtn'/></div>
            <div><p class='modal-title'>카카오 로그인</p></div>
            <div class='modal-blank'></div>
        </div>
        <div class='modal-content login-banner'>
            <div class='kakao'>
                <a href='/auth/kakao'><img src="image/kakaoLogin.jpg" width="222"/></a>
            </div>
        </div>
    </div>
</div>