<div class='slide-wrap'>
    <div class='slide-box'>
        <div class="slide-btn-box">
            <button type="button" id="slideBtnPrev" > << </button>
            <button type="button" id="slideBtnNext" > >> </button>
        </div>
        <div id='slide-list'>
            {% include './association/pledge.html'%}
            {% include './welfare/pledge.html'%}
            {% include './club/pledge.html'%}
            {% include './humanity/pledge.html'%}
            {% include './information/pledge.html'%}
            {% include './engineering/pledge.html'%}
            {% include './energy/pledge.html'%}
            {% include './art/pledge.html'%}
        </div>
    </div>
</div>