
<div class='pledge-small-box'>
    <div class='pledge-title'><p>1) 학교 체육관 및 운동장 개방</p></div>
    <div class='pledge-text'><p>- 코로나 19로 인해 폐쇄했던 체육관과 운동장을 전면 개방하겠습니다.<br></p></div>     
    <div class='pledge-like-box'>
        {% if user %}
        <img id='pledgeLikeBtnRight-01' class='pledge-like-btn' src='#'>
        {% else %}
        <img class='pledge-like-btn unSubmit' src='#'>
        {% endif %}
        <span id='pledgeLikeCountRight-01' class='pledge-like-count'>0</span>
    </div>
</div>