<div id='writeModal'>
    <div class='modal-background'></div>
    <div class='modal-box modal-box-write'>
        <div class='modal-header'>
            <div class='back-btn-box'> <img class='back-btn' src='image/back.png' alt='backBtn'/></div>
            <div><p class='modal-title'>응원 메시지</p></div>
            <div class='modal-blank'></div>
        </div>
        <form id='writeForm' class='modal-form' method="POST">
            <textarea id='writeContent' name="mb_self" rows="5" cols="30" maxlength="50" placeholder="내용을 입력하세요"></textarea>
            {% if user  %}
            <input id='writeSubmit' class='btn-css modal-btn-css' type="submit" value='write'/>
            {% elseif user %}
            <input class='alreadySubmit btn-css modal-btn-css' type="button" value='write'/>
            {% else %}
            <input class='unSubmit btn-css modal-btn-css' type="button" value='write'/>
            {% endif %}
            
        </form>
    </div>
</div>