
<div class='pledge-small-box'>
    <div class='pledge-title'><p>5) 더욱 진실된 제5회 S'TED 개최</p></div>
    <div class='pledge-text'><pre>- 상세 내용 없음</pre></div>      
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked11 %}
        <img id='welfareLikeBtnRight-02' class='pledge-like-btn-red' src='image/heartRed.png'>
        {% elseif user.userId %}
        <img id='welfareLikeBtnRight-02' class='pledge-like-btn-blue' src='image/heartBlue.png'>
        {% else %}
        <img id='welfareLikeBtnRight-02' class='pledge-like-btn-blue unSubmit' src='image/heartBlue.png'>
        {% endif %}        
        <span id='welfareLikeCountRight-02' class='pledge-like-count'>0</span>
    </div>
</div>