
            <div class='section slide-section'>
                <div class='section-title'>
                    <p>[학생복지위원회]</p>
                </div>
                <div class='section-box-03'>
                    <div class='left-box'>
                        <div class='candidate-box'>
                            <img class='candidate-small' src='image/profile.png' alt='candidateImage'/>
                        </div>
                        <div class='font-jua'>
                            <p class='candidate-position'>정위원장 후보</p>
                            <p class='candidate-small-name'>황환철</p>
                            <p class='candidate-small-major'>행정학과(19)</p>
                        </div>
                        <div class='sns-box'>
                            <a href='https://www.instagram.com/37seoultech_for_rest/'><img src='image/instagram.png'/></a>
                            <a href='https://www.facebook.com/36welfare.st'><img src='image/facebook.png'/></a>
                            <a href='https://www.facebook.com/SeoulTechWelfare/'><img src='image/website.png'/></a>
                        </div>
                        <div class='pledge-box'>
                            {% include './pledgeLeft1.html' %}
                            {% include './pledgeLeft2.html' %}
                            {% include './pledgeLeft3.html' %}
                            
                        </div>
                    </div>
                    <div class='right-box'>
                        <div class='candidate-box'>
                            <img class='candidate-small' src='image/profile.png' alt='candidateImage'/>
                        </div>
                        <div class='font-jua'>
                            <p class='candidate-position'>부위원장 후보</p>
                            <p class='candidate-small-name'>조혜림</p>
                            <p class='candidate-small-major'>화공생명공학과(18)</p>
                        </div>
                        <div class='sns-box'>
                            <a href='https://www.instagram.com/37seoultech_for_rest/'><img src='image/instagram.png'/></a>
                            <a href='https://www.facebook.com/36welfare.st'><img src='image/facebook.png'/></a>
                            <a href='https://www.facebook.com/SeoulTechWelfare/'><img src='image/website.png'/></a>
                        </div>
                        <div class='pledge-box'>
                            {% include './pledgeRight1.html' %}
                            {% include './pledgeRight2.html' %}
                            {% include './pledgeRight3.html' %}
                        </div>
                    </div>
                </div>
            </div>