
<div class='pledge-small-box'>
    <div class='pledge-title'><p>1) PPT 및 보고서 양식 시즌별 제작 배부</p></div>
    <div class='pledge-text'><pre>- 학교 로고 및 일러스트를 활용한 템플릿 및 보고서 양식 제작
- 일회성에 그치지 않고 정기적 제작
- 시즌별 템플릿 공개 선정 등의 방법 활용
    </pre></div>    
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked7 %}
        <img id='welfareLikeBtnLeft-01' class='pledge-like-btn-red' src='image/heartRed.png'>
        {% elseif user.userId %}
        <img id='welfareLikeBtnLeft-01' class='pledge-like-btn-blue' src='image/heartBlue.png'>
        {% else %}
        <img id='welfareLikeBtnLeft-01' class='pledge-like-btn-blue unSubmit' src='image/heartBlue.png'>
        {% endif %}
        <span id='welfareLikeCountLeft-01' class='pledge-like-count'>0</span>
    </div>
</div>