
<div class='pledge-small-box'>
    <div class='pledge-title'><p>내용 없음</p></div>
    <div class='pledge-text'><pre></pre></div>      
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked12 %}
        <img id='welfareLikeBtnRight-03' class='pledge-like-btn-red' src='image/heartRed.png'>
        {% elseif user.userId %}
        <img id='welfareLikeBtnRight-03' class='pledge-like-btn-blue' src='image/heartBlue.png'>
        {% else %}
        <img id='welfareLikeBtnRight-03' class='pledge-like-btn-blue unSubmit' src='image/heartBlue.png'>
        {% endif %}        
        <span id='welfareLikeCountRight-03' class='pledge-like-count'>0</span>
    </div>
</div>