
<div class='pledge-small-box'>
    <div class='pledge-title'><p>5) </p></div>
    <div class='pledge-text'><pre>- 더욱 진실된 제5회 S'TED 개최</pre></div>      
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked11 %}
        <img id='welfareLikeBtnRight-02' class='pledge-like-btn-red' src='#'>
        {% elseif user.userId %}
        <img id='welfareLikeBtnRight-02' class='pledge-like-btn-blue' src='#'>
        {% else %}
        <img id='welfareLikeBtnRight-02' class='pledge-like-btn-blue unSubmit' src='#'>
        {% endif %}        
        <span id='welfareLikeCountRight-02' class='pledge-like-count'>0</span>
    </div>
</div>