
<div class='pledge-small-box'>
    <div class='pledge-title'><p>4) </p></div>
    <div class='pledge-text'><pre>- 지역사회와 협력한 대학생 재능 기부 프로젝트</pre></div>     
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked10 %}
        <img id='welfareLikeBtnRight-01' class='pledge-like-btn-red' src='#'>
        {% elseif user.userId %}
        <img id='welfareLikeBtnRight-01' class='pledge-like-btn-blue' src='#'>
        {% else %}
        <img id='welfareLikeBtnRight-01' class='pledge-like-btn-blue unSubmit' src='#'>
        {% endif %}
        <span id='welfareLikeCountRight-01' class='pledge-like-count'>0</span>
    </div>
</div>