
<div class='pledge-small-box'>
    <div class='pledge-title'><p>3) </p></div>
    <div class='pledge-text'><pre>- 서울과학기술대학교 굿즈 KIT 제작 및 배부</pre></div>    
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked9 %}
        <img id='welfareLikeBtnLeft-03' class='pledge-like-btn-red' src='image/heartRed.png'>
        {% elseif user.userId %}
        <img id='welfareLikeBtnLeft-03' class='pledge-like-btn-blue' src='image/heartBlue.png'>
        {% else %}
        <img id='welfareLikeBtnLeft-03' class='pledge-like-btn-blue unSubmit' src='image/heartBlue.png'>
        {% endif %}
        <span id='welfareLikeCountLeft-03' class='pledge-like-count'>0</span>
    </div>
</div>