
<div class='pledge-small-box'>
    <div class='pledge-title'><p>2) </p></div>
    <div class='pledge-text'><pre>- 분실물 관리 체계 네트워킹을 통한 일원화</pre></div>  
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked8 %}
        <img id='welfareLikeBtnLeft-02' class='pledge-like-btn-red' src='#'>
        {% elseif user.userId %}
        <img id='welfareLikeBtnLeft-02' class='pledge-like-btn-blue' src='#'>
        {% else %}
        <img id='welfareLikeBtnLeft-02' class='pledge-like-btn-blue unSubmit' src='#'>
        {% endif %}
        <span id='welfareLikeCountLeft-02' class='pledge-like-count'>0</span>
    </div>
</div>