
body{
    display:grid;
    grid-template-columns: 1;
    background-color: rgb(25,31,44);
    color:white;
    font-family: 'Noto Sans KR', sans-serif;
    
}
@media (max-width: 480px){
    html{
        font-size: 10px;
    }
    .whole-wrap{
        width: 95%;
    }
    .header-box{
        width: 90%;
    }
    .vote-image{
        width: 100%;
    }
    .vote-content{
        top:5%;
    }
    .section{
        width:100%;
    }


}
@media (min-width:480px){
    html{
        font-size: 11px;
    }
    .whole-wrap{
        width: 35rem;
    }
    .header-box{
        width:34rem;
    }
    .vote-image{
        width: 35rem;
    }
    .vote-content{
        top:5%;
    }
    .section{
        width:100%;
    }
}

.whole-wrap{
    position: relative;
    margin: 0 auto;
    overflow-y: auto;
}
.whole-wrap::-webkit-scrollbar {
    width: 10px;
}
.whole-wrap::-webkit-scrollbar-thumb {
    background-color:grey;
    border-radius: 10px;
}
.whole-wrap::-webkit-scrollbar-track {
    background-color: #2f3542;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px #2f3542;
}

/* 모달창 공통 영역 */

.modal-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    z-index: 1;
}
.modal-box{
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 1.6rem;
    background: rgb(25, 31, 44);
    z-index: 10000;
    border-radius: 1.5rem;
}
.modal-header{
    display: flex;
    position: relative;
    margin-bottom: 1.5rem;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.modal-content{
    width: 100%;
    margin-top: -0.9rem;
    text-align: center;
}

.back-btn-box{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 0.6rem;
    font-size: 1.2rem;
    flex-shrink: 0;
    min-height: 3.2rem;
    color: rgb(224, 224, 224);
    background: rgb(25,31,44);
    cursor: pointer;
    width: 3.2rem;
    height: 3.2rem;
    padding: 0;
}
.back-btn{
    position: relative;
    flex-shrink: 0;
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0.5;
}
.back-btn:hover{
    opacity: 1;
}
/* 로그인 모달 영역 */
#loginModal{
    display: none;
}
.modal-box-login{
    top: 50%;
    max-height: 80%;
    height: 20rem;
    width: 30rem;
}
.login-banner{
    padding-top: 2.5rem;
}


/* URL 버튼 모달 영역 */
#urlModal{
    display:none;
}

.modal-box-url{
    top: 18%;
    max-height: 80%;
    height: 5.8rem;
    width: 25rem;
}
#urlText{
    border-top: none;
    border-right: none;
    border-left: none;
    font-size: 1px;
    border-bottom: 1px solid rgb(25, 31, 44);
    background: transparent;
    color: rgb(25, 31, 44);
}
.clipboard{
    font-size: 1.2rem;
}

/* VOTE 버튼 영역 */

#voteModal{
    display:none;
}

.modal-box-vote{
    top: 50%;
    max-height: 60%;
    width: 32rem;
}
.modal-title{
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Jua', sans-serif;
}

.modal-form{
    padding:0;
    text-align: center;
    font-family: 'Jua', sans-serif;
}
.modal-candidate{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#modal-candidate-left, #modal-candidate-right{
    cursor: pointer;
}
input[type="checkbox"] {
    display:none;
}



.btn-css{
    background-color: #5259df;
    color: white;
    padding: 1.2rem 1.2rem;
    border: none;
    border-radius: 1.8rem;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-family: 'Jua', sans-serif;
    font-size: 1.4rem;
}
.btn-css:hover{
    background-color:#9c0000;
}
.modal-btn-css{
    margin-top: 2rem;
}
/* write Modal 영역*/
#writeModal{
    display:none;
}
.modal-box-write{
    top: 50%;
    max-height: 60%;
    width: 32rem;
}
.modal-blank{
    width: 3rem;
}
#writeContent{
    height: 10rem;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    font-size: 14px;
    border-bottom: 1px solid rgba(224, 224, 224, 0.125);
    background: transparent;
    box-shadow: none;
    border-radius: 0px;
    appearance: none;
    width:100%;
    color: white;
    resize: none;
    font-family: 'Jua', sans-serif;
}
#writeContent::-webkit-scrollbar{
    display: none;
}
#writeContent:focus{
    outline: none;
}
/* 본문 영역 */
#header{
    background-color:   rgb(25,31,44);;
    width:100%;
}

.header-box{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height: 5rem;
    margin : 2rem auto 0.5rem;
    animation: fadein 2s;
    -moz-animation: fadein 2s; 
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
    padding-top: 1rem;
}

.header-icon{
    width: 3rem;
    height: 3rem;
    box-sizing: border-box;
}
.header-pledge{
    text-align: center;
    margin-top: 0rem;
    font-size: 1.9rem;
    font-family: 'Jua', sans-serif;
    animation: fadein 2s; 
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s; 
     -o-animation: fadein 2s; 
     
}
.login-text{
    width: 5rem;
    height: 2.6rem;
    text-align: center;
    box-sizing: border-box;
    margin-top: 0.2em;
    padding-top: 0.4rem;
    font-size: 1.5rem;
    font-family: 'Jua', sans-serif;
}
.logout-btn{
    width:2.5rem;
    height: 2.5rem;
}


#loginBtn:hover{
    cursor: pointer;
    
}
#sharingBtn:hover{
    cursor: pointer;
}

#main-title{
    text-decoration: none;
    color:white;
    margin-top: 0rem;
    font-size: 2.5rem;
    font-family: 'Jua', sans-serif;
    font-weight: bold;
}
#main-title:hover{
    cursor: pointer;
}



#main-title :nth-child(2){
    color:#5259df;
}

.section-01{
    margin: 2rem auto 0;
    width: 100%;
    text-align: center;
}
.section-title{
    animation: fadein 2s; 
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s; 
     -o-animation: fadein 2s; 
     
    font-family: 'Jua', sans-serif;
}

.section-title :nth-child(1){
    margin-bottom:0.5rem;
    font-size:2.1rem;
}
.section-title :nth-child(2){
    margin-top:0rem;
    font-size:1.3rem;
    
}
.section-img-01{
    position: relative;
}
.vote-content{
    position: absolute;
    width:100%;
}
.vote-title{
    font-size: 2rem;
    margin-top: 2.5rem;
    font-style: italic;
    margin-bottom: 0;
}
.vote-center{
    text-align: center;
    margin-bottom: 5rem;
}
.vote-left{
    display: inline-block;
    width:10rem;
    margin: 0;
    margin-left: 3rem;
    text-align: left;
}
.vote-left p{
    display:inline-block;
    width:10rem;
    animation: fadein 2s; 
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s; 
     -o-animation: fadein 2s; 
}
.vote-right{
    display: inline-block;
    width:15rem;
    margin: 0;
    margin-right:3rem;
    text-align: right;
}
.vote-right p{
    display:inline-block;
    width:10rem;
    animation: fadein 2s; 
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s; 
     -o-animation: fadein 2s; 
}
.vote-percent{
    font-size:3rem;
    color:rgb(255, 0, 0);
    text-shadow:  #790006 1px 1px 4px,#680034 2px 2px 10px ;
    margin:0;
}

.vote-count, .student-count{
    font-size:1.1rem;
    color:#dddada;
    font-style: italic;
    text-shadow: #000000 1px 1px 0px, #000000 2px 2px 15px;
}
.font-jua{
    font-family: 'Jua', sans-serif;
}
.candidate-number{
    font-size:1.4rem;
    margin:0;
}
.candidate-name{
    margin:0;
    font-size: 2.5rem;
}
.candidate-major{
    margin: 0;
    color:#dbdbdb;
}
.candidate-small-name{
    margin:0;
    font-size: 2rem;
}
.candidate-small-major{
    margin: 0;
    color:#dbdbdb;
}
.section-btn-01{
    margin:1.5rem auto;
    width: 95%;
    animation: fadein 2s; 
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    font-family: 'Noto Sans KR', sans-serif;
}

#realVoteLink{
    text-decoration: underline;
    color:white;
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.3);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(1);
  }
} */



.section-btn-01 p{
    margin-top: 1rem;
    font-size: 1rem;
    font-style: italic;
}


.section{
    margin: 5rem auto 0;
    text-align: center;
}


#chartdiv {
    width: 100%;
    height: 40rem;
    font-size: 1rem;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-weight: bold;

}
.section-box-03{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
}
.section-box-03{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
}
.left-box{
    width: 50%;
    border-right: 1px solid rgb(143, 143, 143);
    animation: fadein 2s; 
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s; 
     -o-animation: fadein 2s; 
}
.right-box{
    width: 50%;
    animation: fadein 2s; 
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s; 
     -o-animation: fadein 2s; 
}
.candidate-small{
    margin:1rem;
    width: 8rem;
    height: 7.5rem;
}


.sns-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem auto;
}
.sns-box a img{
    width:1.5rem;
    height: 1.5rem;
    margin:0.5rem;
}
.pledge-box{
    padding: 0 0.5rem;
}
.pledge-small-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    text-align: left;
    margin-bottom: 1rem;
    padding: 1rem;
    height: 12rem;
    background: linear-gradient(160deg, rgb(25 31 44), rgb(55 68 97) 90%);
}

.pledge-title p{
    font-size: 1rem;
    font-family: 'Jua',sans-serif;
}
.pledge-text p{
    font-size: 1rem;
    color:rgb(175, 175, 175);
    font-family: 'Jua',sans-serif;
}
.pledge-like-box{
    display: inline;
    width: 5rem;
}
.pledge-like-btn-blue{
    width:1rem;
    height: 1rem;
    vertical-align: unset;
    background-image: url(image/heartBlue.png);
    background-size: 1rem 1rem;
}
.pledge-like-btn-blue:hover{
    cursor: pointer;
}
.pledge-like-btn-red{
    width:1rem;
    height: 1rem;
    vertical-align: unset;
    background-image: url(image/heartRed.png);
    background-size: 1rem 1rem;
}
.pledge-like-btn-red:hover{
    cursor: pointer;
}
.pledge-like-count{
    vertical-align: bottom;
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color: hsl(0deg 0% 100%);
    font-family: 'jua', sans-serif;
}


.crud-box{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 39rem;
    overflow: hidden;
    margin-top: 2rem;
}

.crud-content{
    background-color: rgb(43, 53, 75);
    border-radius: 10rem;
    padding: 1.7rem 0 2rem 3rem;
    margin: 1rem auto;
    text-align: left;
    width: 90%;
    height: 4rem;
    font-family: 'Jua', sans-serif;    
    animation: fadein 2s; 
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s; 
     -o-animation: fadein 2s; 
}
.content-user{
    display: inline-block;
    width:28rem;
}
.content-text{
    font-size: 1.2rem;
    margin: 0.8rem 0 0 0;
    width: 28rem;
    word-break:break-all; 
}



.crud-btn-box{
    margin-top: 2rem;
}

.footer{
    display: flex;
    margin: 0 auto;
    width: 32rem;
    height: 30rem;
    flex-direction: column;
    justify-content: space-around;
}
.footer-text{
    font-size: 1rem;
    text-align: center;
    color:#bebebe;
    animation: fadein 2s; 
    -moz-animation: fadein 2s;
    -webkit-animation: fadein 2s; 
     -o-animation: fadein 2s; 
}
.footer-text pre{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
}
.footer-license{
    text-align: center;
    opacity: 0.5;
}
.footer-license a{
    text-decoration: underline;
    color:white;
}

@keyframes fadein {
    from {
        opacity:0;
        transform:translateY(5px);
    }
    to {
        opacity:1;
        transform:translateY(0);
    }
}
/* @-moz-keyframes fadein { 
    from{
     opacity: 0;
    }
    to{
     opacity:1;
    }
} */
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
        transform:translateY(5px);
    }
    to {
        opacity:1;
        transform:translateY(0);
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
        transform:translateY(5px);
    }
    to {
        opacity: 1;
        transform:translateY(0);
    }
}

@keyframes modal-fadein {
    0% {
        opacity:0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes modal-fadeout {
    0% {
        opacity:1;
    }
    100%{
        opacity:0;
    }
}

.anchor-css{
    text-decoration: none;
    color:white;
}
.slide-btn-box button{
    position: absolute;
    top: 2.5%;
    width: 4rem;
    height: 3rem;
    background: none;
    color:white;
    border: 1px solid gray;
    border-radius: 1rem;
    z-index: 99;
    animation: fadein 2s;
    -moz-animation: fadein 2s; 
    -webkit-animation: fadein 2s;
    -o-animation: fadein 2s;
}
button:hover{
    cursor: pointer;
}
button:focus{
    outline: none;
}
#slideBtnPrev{
    left:13%;
}
#slideBtnNext{
    right:13%;
}
.slide-box{
    position: relative;
    width: 35rem;
    height: 70rem;
    margin: 0 auto;
    overflow: hidden;
}
#slide-list{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 280rem;
}
.slide-section{
    width: 35rem;
    margin: 0;
}