
<div class='pledge-small-box'>
    <div class='pledge-title'><p>1-2) 복지</p></div>
    <div class='pledge-text'>
    <pre>- 멘토링 사업 추진
- 각 과 정보 교류 활성화
- 타 단과대학 교류 추진
</pre>
    </div>    
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked26 %}
        <img id='engineeringLikeBtnLeft-02' class='pledge-like-btn-red' src='#'>
        {% elseif user.userId %}
        <img id='engineeringLikeBtnLeft-02' class='pledge-like-btn-blue' src='#'>
        {% else %}
        <img id='engineeringLikeBtnLeft-02' class='pledge-like-btn-blue unSubmit' src='#'>
        {% endif %}
        <span id='engineeringLikeCountLeft-02' class='pledge-like-count'>0</span>
    </div>
</div>