
<div class='pledge-small-box'>
    <div class='pledge-title'><p>2) 운영</p></div>
    <div class='pledge-text'>
        <pre>- 결산안 프린트하여 교내 게시
- 공약 이행 보고
- 정기 카드 뉴스 업로드 
- 공과대학 학생회 홈페이지 리뉴얼
</pre>
    </div>    
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked28 %}
        <img id='engineeringLikeBtnRight-01' class='pledge-like-btn-red' src='#'>
        {% elseif user.userId %}
        <img id='engineeringLikeBtnRight-01' class='pledge-like-btn-blue' src='#'>
        {% else %}
        <img id='engineeringLikeBtnRight-01' class='pledge-like-btn-blue unSubmit' src='#'>
        {% endif %}
        <span id='engineeringLikeCountRight-01' class='pledge-like-count'>0</span>
    </div>
</div>