            <div class='section slide-section'>
                <div class='section-title'>
                    <p>[공과대학]</p>
                </div>
                <div class='section-box-03'>
                    <div class='left-box'>
                        <div class='candidate-box'>
                            <img class='candidate-small' src='image/profile.png' alt='candidateImage'/>
                        </div>
                        <div class='font-jua'>
                            <p class='candidate-position'>정학생회장 후보</p>
                            <p class='candidate-small-name'>이지원</p>
                            <p class='candidate-small-major'>건축공학과(19)</p>
                        </div>
                        <div class='sns-box'>
                            <a class='anchor' href='https://www.instagram.com'><img src='image/instagram.png'/></a>
                            <a href='https://www.facebook.com/seoultechengineering/'><img src='image/facebook.png'/></a>
                            <a class='anchor' href='https://www.youtube.com'><img src='image/youtube.png'/></a>
                        </div>
                        <div class='pledge-box'>
                            {% include './pledgeLeft1.html' %}
                            {% include './pledgeLeft2.html' %}
                            {% include './pledgeLeft3.html' %}
                            
                        </div>
                    </div>
                    <div class='right-box'>
                        <div class='candidate-box'>
                            <img class='candidate-small' src='image/profile.png' alt='candidateImage'/>
                        </div>
                        <div class='font-jua'>
                            <p class='candidate-position'>부학생회장 후보</p>
                            <p class='candidate-small-name'>홍호승</p>
                            <p class='candidate-small-major'>건설시스템공학과(18)</p>
                        </div>
                        <div class='sns-box'>
                            <a class='anchor' href='https://www.instagram.com'><img src='image/instagram.png'/></a>
                            <a href='https://www.facebook.com/seoultechengineering/'><img src='image/facebook.png'/></a>
                            <a class='anchor' href='https://www.youtube.com'><img src='image/youtube.png'/></a>
                        </div>
                        <div class='pledge-box'>
                            {% include './pledgeRight1.html' %}
                            {% include './pledgeRight2.html' %}
                            {% include './pledgeRight3.html' %}
                        </div>
                    </div>
                </div>
            </div>