
<div class='pledge-small-box'>
    <div class='pledge-title'><p>1) 복지</p></div>
    <div class='pledge-text'>
        <pre>- 의견 수렴을 위한 건의함 배치
- 공과대학 동아리 개설
- 에브리타임 공과대학 학생회 게시판
  활성화 
</pre>
    </div>    
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked25 %}
        <img id='engineeringLikeBtnLeft-01' class='pledge-like-btn-red' src='image/heartRed.png'>
        {% elseif user.userId %}
        <img id='engineeringLikeBtnLeft-01' class='pledge-like-btn-blue' src='image/heartBlue.png'>
        {% else %}
        <img id='engineeringLikeBtnLeft-01' class='pledge-like-btn-blue unSubmit' src='image/heartBlue.png'>
        {% endif %}
        <span id='engineeringLikeCountLeft-01' class='pledge-like-count'>0</span>
    </div>
</div>