
<div class='pledge-small-box'>
    <div class='pledge-title'><p>3) 행사</p></div>
    <div class='pledge-text'>
    <pre>- 공과대학 내 친목 도모 및 더비화
- 온라인 중심 행사 기획
- 공대체전, 공대인의 밤 개선 
- 공과대학 행사 추진 및 확장
</pre>
    </div>
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked29 %}
        <img id='engineeringLikeBtnRight-02' class='pledge-like-btn-red' src='#'>
        {% elseif user.userId %}
        <img id='engineeringLikeBtnRight-02' class='pledge-like-btn-blue' src='#'>
        {% else %}
        <img id='engineeringLikeBtnRight-02' class='pledge-like-btn-blue unSubmit' src='#'>
        {% endif %}        
        <span id='engineeringLikeCountRight-02' class='pledge-like-count'>0</span>
    </div>
</div>