
<div class='pledge-small-box'>
    <div class='pledge-title'><p>1-3) 복지</p></div>
    <div class='pledge-text'>
    <pre>- 학기별 강의, 시험 진행방식 만족도 조사
- 공과대학 굿즈 제작
- 줌 강의, 시험 대기 강의실 개방 
- 상시 사업 진행
</pre>
    </div>    
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked27 %}
        <img id='engineeringLikeBtnLeft-03' class='pledge-like-btn-red' src='#'>
        {% elseif user.userId %}
        <img id='engineeringLikeBtnLeft-03' class='pledge-like-btn-blue' src='#'>
        {% else %}
        <img id='engineeringLikeBtnLeft-03' class='pledge-like-btn-blue unSubmit' src='#'>
        {% endif %}
        <span id='engineeringLikeCountLeft-03' class='pledge-like-count'>0</span>
    </div>
</div>