<div class='section slide-section'>
    <div class='section-title'>
        <p>[동아리연합회]</p>
    </div>
    <div class='section-box-03'>
        <div class='left-box'>
            <div class='candidate-box'>
                <img class='candidate-small' src='image/profile.png' alt='candidateImage'/>
            </div>
            <div class='font-jua'>
                <p class='candidate-position'>으뜸빛 후보</p>
                <p class='candidate-small-name'>강진우</p>
                <p class='candidate-small-major'>기계자동차공학과(16)</p>
            </div>
            <div class='sns-box'>
                <a class='anchor' href='https://www.instagram.com/'><img src='image/instagram.png'/></a>
                <a href='https://www.facebook.com/mallangmallang36th'><img src='image/facebook.png'/></a>
                <a href='https://snustclud.modoo.at/'><img src='image/website.png'/></a>
            </div>
            <div class='pledge-box'>
                {% include './pledgeLeft1.html' %}
                {% include './pledgeLeft2.html' %}
                {% include './pledgeLeft3.html' %}
                
            </div>
        </div>
        <div class='right-box'>
            <div class='candidate-box'>
                <img class='candidate-small' src='image/profile.png' alt='candidateImage'/>
            </div>
            <div class='font-jua'>
                <p class='candidate-position'>버금빛 후보</p>
                <p class='candidate-small-name'>이하은</p>
                <p class='candidate-small-major'>시각디자인학과(19)</p>
            </div>
            <div class='sns-box'>
                <a class='anchor' href='https://www.instagram.com/'><img src='image/instagram.png'/></a>
                <a href='https://www.facebook.com/mallangmallang36th'><img src='image/facebook.png'/></a>
                <a href='https://snustclud.modoo.at/'><img src='image/website.png'/></a>
            </div>
            <div class='pledge-box'>
                {% include './pledgeRight1.html' %}
                {% include './pledgeRight2.html' %}
                {% include './pledgeRight3.html' %}
            </div>
        </div>
    </div>
</div>