
<div class='pledge-small-box'>
    <div class='pledge-title'><p>5) 간단한 한끼 자판기 설치</p></div>
    <div class='pledge-text'>
        <pre>- 미래관, 창학관 한끼 자판기 설치</pre>
    </div>    
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked23 %}
        <img id='informationLikeBtnRight-02' class='pledge-like-btn-red' src='image/heartRed.png'>
        {% elseif user.userId %}
        <img id='informationLikeBtnRight-02' class='pledge-like-btn-blue' src='image/heartBlue.png'>
        {% else %}
        <img id='informationLikeBtnRight-02' class='pledge-like-btn-blue unSubmit' src='image/heartBlue.png'>
        {% endif %}        <span id='informationLikeCountRight-02' class='pledge-like-count'>0</span>
    </div>
</div>