
<div class='pledge-small-box'>
    <div class='pledge-title'><p>6) 대여사업 진행</p></div>
    <div class='pledge-text'>
        <pre>- 대형천막
- 빔 프로젝터
- 예비군 물품(허리띠,모자,고무줄) 
</pre>
    </div>    
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked24 %}
        <img id='informationLikeBtnRight-03' class='pledge-like-btn-red' src='#'>
        {% elseif user.userId %}
        <img id='informationLikeBtnRight-03' class='pledge-like-btn-blue' src='#'>
        {% else %}
        <img id='informationLikeBtnRight-03' class='pledge-like-btn-blue unSubmit' src='#'>
        {% endif %}        <span id='informationLikeCountRight-03' class='pledge-like-count'>0</span>
    </div>
</div>