
<div class='pledge-small-box'>
    <div class='pledge-title'><p>1) 예결산안 공개</p></div>
    <div class='pledge-text'>
        <pre>- 매학기 예산안 및 결산안 공개
- 매월 활동보고 카드뉴스 개시
</pre>
    </div>     
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked19 %}
        <img id='informationLikeBtnLeft-01' class='pledge-like-btn-red' src='image/heartRed.png'>
        {% elseif user.userId %}
        <img id='informationLikeBtnLeft-01' class='pledge-like-btn-blue' src='image/heartBlue.png'>
        {% else %}
        <img id='informationLikeBtnLeft-01' class='pledge-like-btn-blue unSubmit' src='image/heartBlue.png'>
        {% endif %}
        <span id='informationLikeCountLeft-01' class='pledge-like-count'>0</span>
    </div>
</div>