
<div class='pledge-small-box'>
    <div class='pledge-title'><p>3) 간식 행사</p></div>
    <div class='pledge-text'>
        <pre>- 선착순제 지양
- 행사 참가자 전원 지급 방식 지향
</pre>
    </div>    
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked21 %}
        <img id='informationLikeBtnLeft-03' class='pledge-like-btn-red' src='image/heartRed.png'>
        {% elseif user.userId %}
        <img id='informationLikeBtnLeft-03' class='pledge-like-btn-blue' src='image/heartBlue.png'>
        {% else %}
        <img id='informationLikeBtnLeft-03' class='pledge-like-btn-blue unSubmit' src='image/heartBlue.png'>
        {% endif %}
        <span id='informationLikeCountLeft-03' class='pledge-like-count'>0</span>
    </div>
</div>