
<div class='pledge-small-box'>
    <div class='pledge-title'><p>5) 간단한 한끼 자판기 설치</p></div>
    <div class='pledge-text'>
        <pre>- 상세 내용 없음</pre>
    </div>    
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked23 %}
        <img id='informationLikeBtnRight-02' class='pledge-like-btn-red' src='#'>
        {% elseif user.userId %}
        <img id='informationLikeBtnRight-02' class='pledge-like-btn-blue' src='#'>
        {% else %}
        <img id='informationLikeBtnRight-02' class='pledge-like-btn-blue unSubmit' src='#'>
        {% endif %}        <span id='informationLikeCountRight-02' class='pledge-like-count'>0</span>
    </div>
</div>