
<div class='pledge-small-box'>
    <div class='pledge-title'><p>2) 체육대회 개최</p></div>
    <div class='pledge-text'>
        <pre>- E스포츠를 포함한 체육대회 개최
</pre>
    </div>      
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked20 %}
        <img id='informationLikeBtnLeft-02' class='pledge-like-btn-red' src='image/heartRed.png'>
        {% elseif user.userId %}
        <img id='informationLikeBtnLeft-02' class='pledge-like-btn-blue' src='image/heartBlue.png'>
        {% else %}
        <img id='informationLikeBtnLeft-02' class='pledge-like-btn-blue unSubmit' src='image/heartBlue.png'>
        {% endif %}
        <span id='informationLikeCountLeft-02' class='pledge-like-count'>0</span>
    </div>
</div>