
<div class='pledge-small-box'>
    <div class='pledge-title'><p>4) 뻔선뻔후 or 멘토링</p></div>
    <div class='pledge-text'>
        <pre>- 학번을 이용한 뻔선뻔후 제도 도입
- 멘토링 활동을 통한 학업능력의 향상
        </pre>
    </div>    
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked22 %}
        <img id='informationLikeBtnRight-01' class='pledge-like-btn-red' src='image/heartRed.png'>
        {% elseif user.userId %}
        <img id='informationLikeBtnRight-01' class='pledge-like-btn-blue' src='image/heartBlue.png'>
        {% else %}
        <img id='informationLikeBtnRight-01' class='pledge-like-btn-blue unSubmit' src='image/heartBlue.png'>
        {% endif %}
        <span id='informationLikeCountRight-01' class='pledge-like-count'>0</span>
    </div>
</div>