            <div class='section slide-section'>
                <div class='section-title'>
                    <p>[총학생회]</p>
                </div>
                <div class='section-box-03'>
                    <div class='left-box'>
                        <div class='candidate-box'>
                            <img class='candidate-small' src='image/profile.png' alt='candidateImage'/>
                        </div>
                        <div class='font-jua'>
                            <p class='candidate-position'>정학생회장 후보</p>
                            <p class='candidate-small-name'>이명인</p>
                            <p class='candidate-small-major'>행정학과(15)</p>
                        </div>
                        <div class='sns-box'>
                            <a href='https://www.instagram.com/seoultech.best'><img src='image/instagram.png'/></a>
                            <a href='https://www.facebook.com/seoultech.best'><img src='image/facebook.png'/></a>
                            <a href='http://gwack2.seoultech.ac.kr'><img src='image/website.png'/></a>
                        </div>
                        <div class='pledge-box'>
                            {% include './pledgeLeft1.html' %}
                            {% include './pledgeLeft2.html' %}
                            {% include './pledgeLeft3.html' %}
                            
                        </div>
                    </div>
                    <div class='right-box'>
                        <div class='candidate-box'>
                            <img class='candidate-small' src='image/profile.png' alt='candidateImage'/>
                        </div>
                        <div class='font-jua'>
                            <p class='candidate-position'>부학생회장 후보</p>
                            <p class='candidate-small-name'>천광희</p>
                            <p class='candidate-small-major'>산업정보시스템전공(15)</p>
                        </div>
                        <div class='sns-box'>
                            <a href='https://www.instagram.com/seoultech.best'><img src='image/instagram.png'/></a>
                            <a href='https://www.facebook.com/seoultech.best'><img src='image/facebook.png'/></a>
                            <a href='http://gwack2.seoultech.ac.kr'><img src='image/website.png'/></a>
                        </div>
                        <div class='pledge-box'>
                            {% include './pledgeRight1.html' %}
                            {% include './pledgeRight2.html' %}
                            {% include './pledgeRight3.html' %}
                        </div>
                    </div>
                </div>
            </div>