
<div class='pledge-small-box'>
    <div class='pledge-title'><p>3) 학생자치 및 소통</p></div>
    <div class='pledge-text'>
        <pre>- PPBS 계획예산제도를 통한 예산 효울성 확보
- 공약 이행 점검을 위한 라이브 공청회 개최
- 학생참여예산제도 도입
        </pre>
    </div>    
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked3 %}
        <img id='associationLikeBtnLeft-03' class='pledge-like-btn-red' src='image/heartRed.png'>
        {% elseif user.userId %}
        <img id='associationLikeBtnLeft-03' class='pledge-like-btn-blue' src='image/heartBlue.png'>
        {% else %}
        <img id='associationLikeBtnLeft-03' class='pledge-like-btn-blue unSubmit' src='image/heartBlue.png'>
        {% endif %}
        <span id='associationLikeCountLeft-03' class='pledge-like-count'>0</span>
    </div>
</div>