
<div class='pledge-small-box'>
    <div class='pledge-title'><p>6) 문화 및 시설</p></div>
    <div class='pledge-text'>
        <pre>- 어의체전 종목 다양화 및 E-Sports 대회 추진
- 학내 공간대여제도 일원화
- 은행열매 채집망 설치 시범도입
- 생활관비 납부방식 개선 추진
        </pre>
    </div>    
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked6 %}
        <img id='associationLikeBtnRight-03' class='pledge-like-btn-red' src='image/heartRed.png'>
        {% elseif user.userId %}
        <img id='associationLikeBtnRight-03' class='pledge-like-btn-blue' src='image/heartBlue.png'>
        {% else %}
        <img id='associationLikeBtnRight-03' class='pledge-like-btn-blue unSubmit' src='image/heartBlue.png'>
        {% endif %}        
        <span id='associationLikeCountRight-03' class='pledge-like-count'>0</span>
    </div>
</div>