
<div class='pledge-small-box'>
    <div class='pledge-title'><p>4) 교육 및 행정제도 개선</p></div>
    <div class='pledge-text'>
        <pre>- 등록금심의위원회 외부전문가 위원 위촉 심의권 요구
- 수강신청시스템 신청 간격 개선
- 창업휴학 조건 완화
- 현장실습, 군e러닝 개선을 통한 학점 취득방식 다양화
        </pre>
    </div>    
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked4 %}
        <img id='associationLikeBtnRight-01' class='pledge-like-btn-red' src='image/heartRed.png'>
        {% elseif user.userId %}
        <img id='associationLikeBtnRight-01' class='pledge-like-btn-blue' src='image/heartBlue.png'>
        {% else %}
        <img id='associationLikeBtnRight-01' class='pledge-like-btn-blue unSubmit' src='image/heartBlue.png'>
        {% endif %}
        <span id='associationLikeCountRight-01' class='pledge-like-count'>0</span>
    </div>
</div>