
<div class='pledge-small-box'>
    <div class='pledge-title'><p>2) 코로나 19 대응</p></div>
    <div class='pledge-text'>
        <pre>- 온라인 강의 증설 및 정원 확대
- 온오프라인 강의 혼용에 따른 건물별 거점 강의실 마련
- QR 체크인 도입을 통한 건물 출입 방식 개선
- 20학번 지원 공약 : 20어게인
        </pre>
    </div>    
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked2 %}
        <img id='associationLikeBtnLeft-02' class='pledge-like-btn-red' src='#'>
        {% elseif user.userId %}
        <img id='associationLikeBtnLeft-02' class='pledge-like-btn-blue' src='#'>
        {% else %}
        <img id='associationLikeBtnLeft-02' class='pledge-like-btn-blue unSubmit' src='#'>
        {% endif %}
        <span id='associationLikeCountLeft-02' class='pledge-like-count'>0</span>
    </div>
</div>