
<div class='pledge-small-box'>
    <div class='pledge-title'><p>1) 대외홍보 및 브랜딩</p></div>
    <div class='pledge-text'>
        <pre>- '서울과학기술대'역 등록 지속 추진
- 학생증 디자인 리뉴얼 추진
- 우리대학 마스코트 변경 
- SeoulTech 인재원 제도 홍보
- 어의대동제 브랜드화</pre>
    </div>    
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked1 %}
        <img id='associationLikeBtnLeft-01' class='pledge-like-btn-red' src='image/heartRed.png'>
        {% elseif user.userId %}
        <img id='associationLikeBtnLeft-01' class='pledge-like-btn-blue' src='image/heartBlue.png'>
        {% else %}
        <img id='associationLikeBtnLeft-01' class='pledge-like-btn-blue unSubmit' src='image/heartBlue.png'>
        {% endif %}
        <span id='associationLikeCountLeft-01' class='pledge-like-count'>0</span>
    </div>
</div>