
<div class='pledge-small-box'>
    <div class='pledge-title'><p>내용 없음</p></div>
    <div class='pledge-text'>
        <pre>
        </pre>
    </div>        
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked38 %}
        <img id='artLikeBtnLeft-02' class='pledge-like-btn-red' src='#'>
        {% elseif user.userId %}
        <img id='artLikeBtnLeft-02' class='pledge-like-btn-blue' src='#'>
        {% else %}
        <img id='artLikeBtnLeft-02' class='pledge-like-btn-blue unSubmit' src='#'>
        {% endif %}
        <span id='artLikeCountLeft-02' class='pledge-like-count'>0</span>
    </div>
</div>