
<div class='versus-small-box'>
    <div class='pledge-title'><p>3번</p></div>
    <div class='pledge-text'>
        <pre>- 대외활동 안내 게시판 및 플랫폼 개설
- 정기적인 교수님과의 미팅 주최
- 학교 주요 일정 알림 서비스
</pre>
    </div>    
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked18 %}
        <img id='humanityLikeBtnRight-03' class='pledge-like-btn-red' src='image/heartRed.png'>
        {% elseif user.userId %}
        <img id='humanityLikeBtnRight-03' class='pledge-like-btn-blue' src='image/heartBlue.png'>
        {% else %}
        <img id='humanityLikeBtnRight-03' class='pledge-like-btn-blue unSubmit' src='image/heartBlue.png'>
        {% endif %}        <span id='humanityLikeCountRight-03' class='pledge-like-count'>0</span>
    </div>
</div>