
<div class='versus-small-box'>
    <div class='pledge-title'><p>1번</p></div>
    <div class='pledge-text'>
        <pre>- 예결산안 및 재정검사 결과 전면 공개
- 인사대 신문고 유지 및 활성화
- 복지 사업 유지 및 확충
- 시험기간 창의융합(어의관) 도서관 운영
</pre>
    </div>    
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked16 %}
        <img id='humanityLikeBtnRight-01' class='pledge-like-btn-red' src='#'>
        {% elseif user.userId %}
        <img id='humanityLikeBtnRight-01' class='pledge-like-btn-blue' src='#'>
        {% else %}
        <img id='humanityLikeBtnRight-01' class='pledge-like-btn-blue unSubmit' src='#'>
        {% endif %}
        <span id='humanityLikeCountRight-01' class='pledge-like-count'>0</span>
    </div>
</div>