
<div class='versus-small-box'>
    <div class='pledge-title'><p>1번</p></div>
    <div class='pledge-text'>
        <pre>- 학생회 법인화 및 학생회비 법인통장 개설
- 카드뉴스 형식의 예결산안 및 활동 보고서
</pre>
    </div>      
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked13 %}
        <img id='humanityLikeBtnLeft-01' class='pledge-like-btn-red' src='#'>
        {% elseif user.userId %}
        <img id='humanityLikeBtnLeft-01' class='pledge-like-btn-blue' src='#'>
        {% else %}
        <img id='humanityLikeBtnLeft-01' class='pledge-like-btn-blue unSubmit' src='#'>
        {% endif %}
        <span id='humanityLikeCountLeft-01' class='pledge-like-count'>0</span>
    </div>
</div>