
            <div class='section slide-section'>
                <div class='section-title'>
                    <p>[인문사회대학]</p>
                </div>
                <div class='section-box-03'>
                    <div class='left-box'>
                        <div class='candidate-box'>
                            <img class='versus' src='image/humanity1-1.png' alt='candidateImage'/>
                            <img class='versus' src='image/humanity1-2.png' alt='candidateImage'/>
                        </div>
                        <div class='font-jua'>
                            <p class='candidate-position'>기호 1번</p>
                            <p class='candidate-small-name'>신혜주/유정의</p>
                            <p class='candidate-small-major'>행정(18)/문예창작(19)</p>
                        </div>
                        <div class='sns-box'>
                            <a href='https://www.instagram.com/insadae'><img src='image/instagram.png'/></a>
                            <a href='https://www.facebook.com/inmunsaheodaehak'><img src='image/facebook.png'/></a>
                            <a class='anchor' href='https://www.youtube.com'><img src='image/youtube.png'/></a>
                        </div>
                        <div class='pledge-box'>
                            {% include './pledgeLeft1.html' %}
                            {% include './pledgeLeft2.html' %}
                            {% include './pledgeLeft3.html' %}
                            
                        </div>
                    </div>
                    <div class='right-box'>
                        <div class='candidate-box'>
                            <img class='versus' src='image/humanity2-1.png' alt='candidateImage'/>
                            <img class='versus' src='image/humanity2-2.png' alt='candidateImage'/>
                        </div>
                        <div class='font-jua'>
                            <p class='candidate-position'>기호 2번</p>
                            <p class='candidate-small-name'>이성호/이민주</p>
                            <p class='candidate-small-major'>문예창작(15)/행정(19)</p>
                        </div>
                        <div class='sns-box'>
                            <a href='https://www.instagram.com/insadae'><img src='image/instagram.png'/></a>
                            <a href='https://www.facebook.com/inmunsaheodaehak'><img src='image/facebook.png'/></a>
                            <a class='anchor' href='https://www.youtube.com'><img src='image/youtube.png'/></a>
                        </div>
                        <div class='pledge-box'>
                            {% include './pledgeRight1.html' %}
                            {% include './pledgeRight2.html' %}
                            {% include './pledgeRight3.html' %}
                        </div>
                    </div>
                </div>
            </div>