
<div class='versus-small-box'>
    <div class='pledge-title'><p>2번</p></div>
    <div class='pledge-text'>
        <pre>- 20학번 늦게 배움터 시행
- 인사조형체전 시행
- 인사대 스터디 및 자격증 응시료
일부 지원 사업 추진
</pre>
    </div>    
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked17 %}
        <img id='humanityLikeBtnRight-02' class='pledge-like-btn-red' src='image/heartRed.png'>
        {% elseif user.userId %}
        <img id='humanityLikeBtnRight-02' class='pledge-like-btn-blue' src='image/heartBlue.png'>
        {% else %}
        <img id='humanityLikeBtnRight-02' class='pledge-like-btn-blue unSubmit' src='image/heartBlue.png'>
        {% endif %}        <span id='humanityLikeCountRight-02' class='pledge-like-count'>0</span>
    </div>
</div>