
<div class='pledge-small-box'>
    <div class='pledge-title'><p>3) 소통</p></div>
    <div class='pledge-text'>
        <pre>- 소통하는 에바대
(온오프 소리함 운영)
- 청렴한 학생회 운영
(학생회비 사용 내역 공개 및 게시)
        </pre>
    </div>      
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked33 %}
        <img id='energyLikeBtnLeft-03' class='pledge-like-btn-red' src='#'>
        {% elseif user.userId %}
        <img id='energyLikeBtnLeft-03' class='pledge-like-btn-blue' src='#'>
        {% else %}
        <img id='energyLikeBtnLeft-03' class='pledge-like-btn-blue unSubmit' src='#'>
        {% endif %}
        <span id='energyLikeCountLeft-03' class='pledge-like-count'>0</span>
    </div>
</div>