
<div class='pledge-small-box'>
    <div class='pledge-title'><p>1) 복지</p></div>
    <div class='pledge-text'>
        <pre>- 청운관 프린트기 설치 추진
- 에바대 쉼터 운영 및 관리
        </pre>
    </div>    
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked31 %}
        <img id='energyLikeBtnLeft-01' class='pledge-like-btn-red' src='#'>
        {% elseif user.userId %}
        <img id='energyLikeBtnLeft-01' class='pledge-like-btn-blue' src='#'>
        {% else %}
        <img id='energyLikeBtnLeft-01' class='pledge-like-btn-blue unSubmit' src='#'>
        {% endif %}
        <span id='energyLikeCountLeft-01' class='pledge-like-count'>0</span>
    </div>
</div>