
<div class='pledge-small-box'>
    <div class='pledge-title'><p>2) 행사</p></div>
    <div class='pledge-text'>
        <pre>- 에바대 행사 진행
(간식, 소망제, 체육대회, 에바인의 밤)
- "헌터"행사 신설
(헌내기 배움터, 헌내기 5월 MT추진)
- 에바대 튜터링 사업 신설
        </pre>
    </div>    
    <div class='pledge-like-box'>
        {% if user.userId and condition.isLiked32 %}
        <img id='energyLikeBtnLeft-02' class='pledge-like-btn-red' src='#'>
        {% elseif user.userId %}
        <img id='energyLikeBtnLeft-02' class='pledge-like-btn-blue' src='#'>
        {% else %}
        <img id='energyLikeBtnLeft-02' class='pledge-like-btn-blue unSubmit' src='#'>
        {% endif %}
        <span id='energyLikeCountLeft-02' class='pledge-like-count'>0</span>
    </div>
</div>