<div class='section slide-section'>
    <div class='section-title'>
        <p>[에너지바이오대학]</p>
    </div>
    <div class='section-box-03'>
        <div class='left-box'>
            <div class='candidate-box'>
                <img class='candidate-small' src='image/energy1.png' alt='candidateImage'/>
            </div>
            <div class='font-jua'>
                <p class='candidate-position'>정학생회장 후보</p>
                <p class='candidate-small-name'>김경은</p>
                <p class='candidate-small-major'>환경공학과(18)</p>
            </div>
            <div class='sns-box'>
                <a href='https://www.instagram.com/energybio_seoultech/'><img src='image/instagram.png'/></a>
                <a href='https://www.facebook.com/energybio90'><img src='image/facebook.png'/></a>
                <a class='anchor' href='https://www.youtube.com'><img src='image/youtube.png'/></a>
            </div>
            <div class='pledge-box'>
                {% include './pledgeLeft1.html' %}
                {% include './pledgeLeft2.html' %}
                {% include './pledgeLeft3.html' %}
                
            </div>
        </div>
        <div class='right-box'>
            <div class='candidate-box'>
                <img class='candidate-small' src='image/energy2.png' alt='candidateImage'/>
            </div>
            <div class='font-jua'>
                <p class='candidate-position'>부학생회장 후보</p>
                <p class='candidate-small-name'>황석현</p>
                <p class='candidate-small-major'>안경광학과(17)</p>
            </div>
            <div class='sns-box'>
                <a href='https://www.instagram.com/energybio_seoultech/'><img src='image/instagram.png'/></a>
                <a href='https://www.facebook.com/energybio90'><img src='image/facebook.png'/></a>
                <a class='anchor' href='https://www.youtube.com'><img src='image/youtube.png'/></a>
            </div>
            <div class='pledge-box'>
                {% include './pledgeRight1.html' %}
                {% include './pledgeRight2.html' %}
                {% include './pledgeRight3.html' %}
            </div>
        </div>
    </div>
</div>